<%= render "shared/profilecard", user: @user %>
<%= render "shared/searchbar" %>
 <%= render "shared/card", workout: @workout %>
<div class= "justify-content-center">
<a href="<%= all_workouts_path %>" >Click to view all workouts!</a>
</div>

<%= render "shared/navbar" %>

