<div class="profile-card-avatar mb-">
  <img id="avatar2" src="<%= cl_image_path current_user.photo.key %>" />
      <div class="card-product-infos2">
        <div class="container d-flex">
        <p> <b>Hello, <%= current_user.first_name %> <%= current_user.last_name %></b> 💪
        <i class="fa-regular fa-pen-to-square"></i></p>
        </div>
      </div>
</div>

        <div class="card-profile2 d-flex">
            <div class="space", style="width:10px"></div>
              <%if @user.fsdollars > 0 %>
              <i class="fa-solid fa-trophy icon-profile2"></i>
              <div class="card-profile-body2 ">Congratulations <div>on your $<%= @user.fsdollars %> FitSeek dollars!</div></div>
              <% else %>
              <i class="fa-solid fa-face-sad-tear" style="color: #00000;"></i>
              <div class="card-profile-body2 "> <div>Your balance is $<%= @user.fsdollars %> ...</div></div>
              <div class="card-profile-body2 "><%= @user.first_name %>, go and buy some FitSeek dollars!</div></div>
              <% end %>
         </div>
