<nav class="top-navbar">
  <ul class="nav-list d-flex">
    <div class="back-button" >
      <%= link_to "", :back, class:"fa-solid fa-chevron-left", style:"color:white"%>
    </div>
    <%= link_to workouts_path, class: "text-decoration-none d-block" do %>
      <%= image_tag 'newfitseeklogo.png', class: "avatar-navbar logoclass2 d-flex justify-content-center" %>
    <% end %>

    <%= link_to fitseek_path, class: "text-decoration-none d-block" do%>
    <div class="notification mt-3">
    <%= image_tag 'lol.png', class: "avatar3 logoclass2 d-flex justify-content-center" %>
    </div>
    <% end %>
  </ul>
</nav>
