<div class="container d-flex justify-content-center body-workouts">
    <div class="row justify-content-center align-items-center m-4 ">

      <div class="d-flex" style="gap:20px; flex-direction:column;">
        <div class="col md-6">
          <div class="row justify-content-between align-items-center">
            <div class="d-flex vw-100" style="gap:20px; flex-direction:column;">
              <div class="bg-dark m-4" style="border-radius:20px;">
              <div class="row justify-content-between p-4" style="gap:2vh; margin:auto;">
                  <h1 class="text-center" style="font-size:20px;"><%= @workout.name %></h1>
                <p class="text-center"><%= @workout.address %></p>
                <p class="text-center"><strong>Class Time: </strong><%= @workout.available_class_times.strftime("%H:%M") %></p>
                <p class="text-center"> <strong>Class duration:</strong> <%=  @workout.duration%>h</p>
                <p class="text-center"><strong>Price: $ </strong><%= @workout.cost %> FitSeek dollars</p>
                <p class="text-center"><%= @workout.description %></p>
                <p class="text-center"><%= link_to "See more about your instructor!", instructor_path(@instructor), class:"text-center" %></p>

                <div class="mt-4 mb-4"style="height: 30vh; margin-top: 50px; border-radius:20px;"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>

                <div data-controller="toggle" class="container d-flex justify-content-center">
                  <%= simple_form_for [@workout, @booking] do |f| %>
                    <% if (@workout.cost > @user.fsdollars) %>
                      <%= f.input :date, label: "Choose your date and time", label_html: { class: "text-white"}, as: :string, input_html: { data: { controller: "datepicker" } }, class:"form-control2"%>
                      <%= f.button :submit, "Book Now!", class:"btn loginbutton text-center mt-2", data: {action: "click->toggle#alert"} %>
                    <% else %>
                      <%= f.input :date, label: "Choose your date and time", as: :string, label_html: { class: "text-white"}, input_html: { data: { controller: "datepicker" } }, class:"text-white form-control2"%>
                      <%= f.button :submit, "Book Now!", class:"btn loginbutton text-center mt-2" %>
                      <% end %>
                  <% end %>
                </div>


                </div>
                </div>
          </div>
        </div>
    </div>
  </div>


  <div style="margin-top:8vh;"></div>

</div>
