
<div class="card bg-dark mb-2">
   <div class="card-category-show"
          style="background-image:
          url('<%= cl_image_path @workout.photo.key %>')">
         <%= @workout.name %> with <%= @workout.instructor.name  %>
    </div>
    <div class="card-body2">
        <p><%= @workout.address %></p>
        <p class="card-text"><b>Class:</b><%= @workout.name %></p>
        <p class="card-text mb-4"> <b>Class duration:</b> <%=  @workout.duration%>h</p>
        <p class="card-text mb-4"><%= @workout.description %></p>

  </div>
</div>
