<div class="container d-flex  vh-100 justify-content-center body-home">
    <div class="row justify-content-center align-items-center m-4">

      <div class="d-flex" style="gap:20px; flex-direction:column;">
        <div class="col md-6">
          <div class="row justify-content-between align-items-center">
            <div class="d-flex p-4 vw-100" style="gap:20px; flex-direction:column;">
              <div class="bg-dark m-4 p-4">
              <div class="row justify-content-between">
                <p><%= @workout.address %></p>
                <p><strong>Class:</strong><%= @workout.name %></p>
                <p> <strong>Class duration:</strong> <%=  @workout.duration%>h</p>
                <p>Price: $<%= @workout.cost %> FitSeek dollars</p>
                <p><%= @workout.description %></p>
                <p><%= link_to "See more about your instructor!", instructor_path(@instructor) %></p>
                <div data-controller="toggle">
                  <%= simple_form_for [@workout, @booking] do |f| %>
                    <%= f.input :date, label: "Choose your date and time", as: :string, input_html: { data: { controller: "datepicker" } }, class:"form-control2"%>
                    <%= f.button :submit, "Book #{@workout.name}", class:"btn loginbutton", data: {action: "click->toggle#alert"} %>
                  <% end %>
              </div>

                <div class="mt-4"style="height: 30vh; margin-top: 50px;"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
                </div>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>
