<div class="card bg-dark mb-2" style="height: 100vh;">
  <div class="card-category-show"
        style="background-image:
        url('<%= cl_image_path @workout.photo.key %>'); color: #CEFE91;">
        <%= @workout.name %> with <%= @workout.instructor.name  %>
  </div>

  <div class="card-body2">
      <p><%= @workout.address %></p>
      <p class="card-text"><strong>Class:</strong><%= @workout.name %></p>
      <p class="card-text mb-4"> <strong>Class duration:</strong> <%=  @workout.duration%>h</p>
      <p class="card-text mb-4"><%= @workout.description %></p>
      <p><%= link_to "See more about your instructor!", instructor_path(@instructor) %></p>
      <p style="color:green;">___________________________________________________</p>
        <div class="col-md-12 mt-2 mb-4">
          <div class="d-contents justify-content-center">
              <%= simple_form_for [@workout, @booking] do |f| %>
                <%= f.input :date, label: "Choose your date and time", as: :string, input_html: { data: { controller: "datepicker" } }%>
                <%= f.button :submit, "Book #{@workout.name}", class:"btn loginbutton" %>
              <% end %>
          </div>
        </div>
  </div>
</div>
