<%= render "shared/navbar2" %>
<% if user_signed_in?%>
<%= @user.first_name %><%= @user.last_name %>
<%= render "shared/cardsdashboard", user: @user %>
<% end %>



<div class="justify-content-center mb-4" data-controller="toggle">
    <h4 data-action="click->toggle#functiontoggle" class="paragrafo m-3">Upcoming classes</h4>
        <% @bookings.each do |booking| %>
        <div class="card-product mb-4" data-toggle-target="div1">


                <div class="mt-2 p-3">
                  <h4 class= "text-white mt-1"> <%= booking.workout.name %></h4>
                    <p><%= booking.workout.category %></p>
                    <p><%= booking.date %></p>
                    <p><%= booking.workout.address %></p>
                    <%= link_to 'Cancel class', booking_path(booking), data: { "turbo-method": :delete } %>
                </div>

          <% end %>
      </div>


       <h4 data-action="click->toggle#functiontoggle2" class="paragrafo m-3"> Past classes</h4>
        <div class="card-product mb-4" data-toggle-target="div2" >
            <div class="m-2">
               <h4 class= "text-white mt-1"> Yoga</h4>
                <p>Mobility</p>
                <p>26/08/2023</p>
                <p>Rua do conde Redondo</p>
              </div>
            </div>
          </div>

</div>
<div style="margin-top:8vh;"></div>


<%= render "shared/navbar" %>
