<%= render "shared/navbar2" %>
<% if user_signed_in?%>
<%= @user.first_name %><%= @user.last_name %>
<%= render "shared/cardsdashboard", user: @user %>
<% end %>
<%= render "shared/navbar" %>



<div class="container d-flex yello mt-3", data-controller="toggle">
  <div>
    <h4 data-action="click->toggle#functiontoggle">Upcoming classes</h4>
      <div class="d-none", data-toggle-target="div1">
        <div class="container" style= "width:auto; height:auto";>
          <% @bookings.each do |booking| %>
        <div style="background-color: #2A2A2A;">
            <div class="notification-content m-2">
            <div class="m-2">
              <h4 class= "text-white mt-1"> <%= booking.workout.name %></h4>
              <p><%= booking.workout.category %></p>
              <p><%= booking.date %></p>
              <p><%= booking.workout.address %></p>
              <%= link_to 'Cancel class', booking_path(booking), data: { "turbo-method": :delete } %>

              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

    <div class="space", style= "width:50px">
    </div>
      <div>
       <h4 data-action="click->toggle#functiontoggle2"> Past classes</h4>
        <div class="d-none", data-toggle-target="div2">
          <div class="container p-4" mb-4  style= "width:100vw; height:100vh";>
            <div style="background-color: #2A2A2A;">
                <div class="notification-content m-2">
                  <div class="m-2">
                  <h4 class= "text-white mt-1"> Yoga</h4>
                  <p>Mobility</p>
                  <p>15/11/2023</p>
                  <p>Rua do conde Redondo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
