<%= render "shared/navbar2" %>
<%= @user.first_name %><%= @user.last_name %>
<%= render "shared/cardsdashboard", user: @user %>
<%= render "shared/navbar" %>






<div class="container d-flex yello", data-controller="toggle">
    <div class="row">
      <p data-action="click->toggle#functiontoggle"> Upcoming classes</p>
      <div data-toggle-target="div1">
       ZUmba with kenneth!!</P>
    </div>
     <p data-action="click->toggle#functiontoggle2"> Past classes</p>
  <div class="d-none", data-toggle-target="div2">
       ZUmba with kenneth!!</P>
    </div>


</div>











<%#

<div class="text-center mt-3", data-controller="toggle">
  <div data-action="click->toggle#functiontoggle">
    <h6>Upcoming Classes</h6>
</div>
</div>
<div class="div1 d-none", data-toggle-target="div1"><h3>  ola </h3></div>
</div>


<div class="div2 text-center mt-3 "><h6>Past Classes</h6></div> %>
