<div class= "text-white container d-flex justify-content-center col-12 body-home" style="flex-direction:column; height:100vh;">

    <div class= "row justify-content-center text-center">
      <%= image_tag 'newfitseeklogo.png', class: "mb-5 logoclass2 d-flex justify-content-center" %>
      <p class="pfind"><strong>Find your next workout!</strong></p>
        <% if user_signed_in? %>

          <p class="mt-2"> Welcome back, <%= current_user.first_name %>!

          <p class="mb-2 mt-2 text-center"><%= link_to 'Get Started!', user_session_path, class:"btn btn-green form-control mt-2" %></p>

          <p class="mt-2 text-decoration-underline", style="margin-top:200px:"><%= link_to "Sign out", destroy_user_session_path, class:"mt-4", data: {"turbo-method": :delete} %></p>

          <%else%>
          <p class="mb-2 mt-2 text-center"><%= link_to 'Get Started!', user_session_path, class:"btn btn-green form-control mt-2" %></p>
      <% end %>
</div>
</div>
