<div class= "text-white container col-12">
  <div class= "center">
    <div class= "d-flex justify-content-center mt-5">
      <%= image_tag 'fs.png', class: "logoclass" %>
    </div>

    <div class="d-flex justify-content-center mt-1">
      <p class="pfind"><strong>Find your next workout!</strong></p>

    </div>
    <div class="d-flex justify-content-center mt-3">
    <a href="<%= user_session_path %>" class="btn btn-green form-control"><strong>Get started!</a></strong>
    </div>
  </div>
</div>

<% if user_signed_in? %>
        <div> Welcome back, <%= current_user.first_name %>! </div>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"loginbutton2" %>
          <%else%>
            <a href="<%= new_user_registration_path %>" class="loginbutton2">Sign Up</a>
            <a href="<%= new_user_session_path %>" class="loginbutton2">Login</a>
      <% end %>
