<div class="bg-image unsplash-bg view";>
  <div class= "container-max-widths  vh-100 text-white">
    <div>
        <h1 class= "mb-3" >Login</h1>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs mb-5">
              <%= f.input :email, placeholder: 'Email',label: false,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password, placeholder: 'Password', label: false,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
            <%= link_to "Forgot password?", new_password_path(resource_name) %>
            </div>
            <div class="form-actions">
              <p><%= f.button :submit, "Log in", class: "btn btn-green form-control p-3" %></p>
            </div>

          <div class= "text-center">
            <div class= "mt-5 d-flex justify-content-evenly">
              <p>Don't have an account?</p>
              <br>
              <%= link_to "Sign up", new_registration_path(resource_name) %>
            </div>
            <div class= "mt-5 d-flex justify-content-center">
              <a href="<%= workouts_path %>" >Enter as a guest to see our features!</a>

            </div>
      </div>
  </div>

 <% end %>

